# ------------------------------
# Rhino / Grasshopper
# ------------------------------
*.rhl
*.ghuser
*.3dm~
*.bak
*.tmp
*.gh~ 
*.ghx~
*.gh.recover
*.ghx.recover

# ------------------------------
# Python
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# ------------------------------
# OS
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Editors
# ------------------------------
.vscode/
.idea/
